body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #004aad;
    color: #030303;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
}

.back-icon {
    width: 24px;
    height: 24px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.form-section {
    width: 50%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.form-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

#title, #content, #image, button[type="submit"] {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

button[type="submit"] {
    display: block;
    width: 200px;
    margin: 30px auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background-color: #FF6F61;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button[type="submit"]:hover {
    background-color: #e55d4d;
}

.posts {
    width: 50%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.posts h2 {
    text-align: center;
    margin-bottom: 20px;
}

.no-posts-message {
    text-align: center;
    font-size: 16px;
    color: #888;
}
